# Ignore everything
*

# But keep the gitignore file itself
!.gitignore

# Keep folders so Git can look inside them
!*/

# Keep XML files exactly one folder deep
!*/*.xml

# Ignore anything 3+ levels deep
*/*/*

# Keep XML files exactly one folder deep
!*/*.xml

# Keep .cmsym files 2 folders deep
!*/*/*.cmsym

# Keep .cmsym files 3 folders deep
!*/*/*/*.cmsym